<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capgemini.module_sample">

    <application>
        <activity android:name=".activity.SimpleGithubProfileActivity"/>
        <activity android:name=".activity.SimpleGitHubLoginActivity">
            <intent-filter>
                <data
                    android:host="sample"
                    android:path="/github/login"
                    android:port="8080"
                    android:scheme="smart" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SimpleReposDetailsActivity" />
        <activity android:name=".activity.SimpleMainActivity" />
        <activity android:name=".activity.SimpleLoginActivity" />
        <activity android:name=".activity.SampleFragmentActivity" />
        <activity android:name=".activity.SimpleListActivity" />
        <activity android:name=".activity.SimpleCommunityHomeActivity" />
        <activity android:name=".activity.SimpleScrollActivity" />
        <activity android:name=".activity.SimpleReposActivity" />
    </application>

</manifest>